* {
    font-family: "Poppins", sans-serif;
    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
}

p {
    color: hsl(229, 6%, 66%);
}

h1, strong {
    font-weight: 600;
}

.container-main {
    height: 100vh;
    margin: 40px auto;
    padding: 0 10%;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

footer {
    margin-top: 40px;
}

.site-title h1 {
    font-weight: 200;
    font-size: 32px;
}

.site-title h2 {
    font-size: 32px;
}

.site-title-description {
    display: flex;
    width: 100%;
    max-width: 480px;
    margin-top: -20px;
}

.site-title-description, p {
    font-size: 15px;
}

.cards-1, .cards-2, .cards-3, .cards-4 {
    height: auto;
    padding: 30px;
    box-shadow: 8px 15px 25px -15px hsl(229, 6%, 66%);
}

.cards-1 {
    border-top: hsl(180, 62%, 55%) 4px solid;
}

.cards-2 {
    border-top: hsl(0, 78%, 62%) 4px solid;
}

.cards-3 {
    border-top: hsl(34, 97%, 64%) 4px solid;
}

.cards-4 {
    border-top: hsl(212, 86%, 64%) 4px solid;
}

.cards-1-title h1, .cards-2-title h1, .cards-3-title h1, .cards-4-title h1 {
    font-size: 24px;
    margin-bottom: 25px;
}

.cards-1-description, .cards-2-description, .cards-3-description, .cards-4-description {
    margin-top: -20px;
    margin-right: 70px;
}

.cards-1-icon, .cards-2-icon, .cards-3-icon, .cards-4-icon {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.cards-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: auto;
}

.cards-1 {
    grid-row: 1 / 3;
    justify-self: stretch;
    align-self: center;
}

.cards-4 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    justify-self: stretch;
    align-self: center;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    .cards-1, .cards-2, .cards-3, .cards-4 {
        grid-row: auto;
        grid-column: auto;
    }
}

footer {
    margin: 50px;
}